<nav class="menu">
  <h1 class="logo" routerLink="">ML</h1>
  <div class="menu__icon" (click)="showMenu()">
    <div class="bar" [ngClass]="{'bar--active': isShown}"></div>
    <div class="bar" [ngClass]="{'bar--active': isShown}"></div>
    <div class="bar" [ngClass]="{'bar--active': isShown}"></div>
  </div>
  <ul class="menu__list" [ngClass]="{'menu__list--active': isShown}">
    <li class="menu__list-item">
      <a routerLink="/works" routerLinkActive="link-active" class="menu__list-item-link" (click)="showMenu()">Works</a>
    </li>
    <li class="menu__list-item">
      <a routerLink="/about" routerLinkActive="link-active" class="menu__list-item-link" (click)="showMenu()">About</a>
    </li>
    <li class="menu__list-item">
      <a routerLink="/contact" routerLinkActive="link-active" class="menu__list-item-link" (click)="showMenu()">Contact</a>
    </li>
  </ul>
</nav>
