<footer
    class="shadow-sm bg-neutral-950 w-full"
>
    <div class="w-full mx-auto max-w-screen-xl p-4 flex items-center justify-center">
        <nav class="flex flex-wrap items-center mt-3 font-medium opacity-80 sm:mt-0">
            <a href="#top" class="hover:underline me-4 md:me-6">Sobre mí</a>
            <a href="#experience" class="hover:underline me-4 md:me-6">Experiencia</a>
            <a href="#projects" class="hover:underline">Proyectos</a>
        </nav>
    </div>
</footer>
