<header id="top" class="flex justify-center items-center p-3 mx-auto w-full">
    <nav class="flex gap-x-8 opacity-80">
        <a class="hover:underline" href="#top">Sobre mí</a>
        <a class="hover:underline" href="#experience">Experiencia</a>
        <a class="hover:underline" href="#projects">Proyectos</a>
    </nav>
</header>