---

interface Props {
    title: string;
}

const { title } = Astro.props;

---

<h2 class="text-3xl font-semibold flex gap-x-2 items-center">
    <slot />
    { title }
</h2>
<div class="border border-solid mt-2 mb-6"></div>