<div class="container">
  <section class="card" *ngFor="let work of worksList">
    <section class="card__image">
      <img class="img" [src]="work.image" [alt]="work.title">
    </section>
    <section class="card__info">
      <h2 class="card__info-title">{{ work.title }}</h2>
      <h3 class="card__info-subtitle" [class]="work.tecnologies">{{ work.subtitle }}</h3>
      <p class="card__info-text">{{ work.explanation }}</p>
    </section>
    <section class="card__buttons">
      <button class="card__button">Ver aplicación</button>
      <button class="card__button">Ver repositorio</button>
    </section>
  </section>
</div>
